# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Data
data/raw/
data/clean/
# Generated reports
reports/*.html
reports/*.png
data/raw/**
data/clean/**
!data/**/.gitkeep
